@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.welcome-section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.half {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;


}

.half h1 {
    font-size: 50px;
}

.half span {
    color: orange;
}

.half img {
    width: 100%;
}

.button {
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 700;
}

.dream-section {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;

}

.developer-section {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;

}

.full-stack {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    border-radius: 5px;
}

.baby-dev {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}


.experiences-section h1 {
    font-size: 40px;
}

.experiences-section h3 {
    color: orange;
}

footer {
    text-align: center;
    color: dimgray;
}